%h2= t '.title'

%p
  %strong= @data.product_name

%p
  %strong= FastOrder.human_attribute_name :name
  = @data.name

%p
  %strong= FastOrder.human_attribute_name :phone
  = @data.phone

%p
  %strong= FastOrder.human_attribute_name :email
  = @data.email
