= content_for :top do
  .main_1
    = simple_image @product_group.image.main, nil, class: 'pics_1'
    %h3= @product_group.name
    %p.text
      = @product_group.content

= render @products

= render @product_group.children.ordered.includes(products: :images).all
