- model_class = Product

= simple_nested_form_for [:backend, @product], html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.association :product_group
    = f.input :name
    = f.input :alias_name
    = f.input :position
    = f.input :price
    = f.input :description
    = f.input :structure
    = f.input :visible

  .form-actions
    = f.button :submit, class: 'btn-primary', value: t('helpers.links.save')
    = link_to t('.cancel', default: t('helpers.links.cancel')), backend_products_path, class: 'btn'

  .form-inputs
    = field_set_tag model_class.human_attribute_name(:images), class: 'images_collection' do
      = f.fields_for :images do |image_form|
        = image_form.input :name
        = render partial: '/backend/form_asset', locals: { f: image_form, attr: 'file', is_collection: 'true' }
        .control-group
          .controls
            = image_form.link_to_remove raw("#{content_tag :i, nil, class: 'icon-trash'}") << t.helpers.links.remove,
              class: 'btn btn-mini btn-danger'
        %hr

      .control-group
        .controls
          = f.link_to_add raw("#{content_tag :i, nil, class: 'icon-plus'}") << t.helpers.links.add,
            :images, class: 'btn btn-mini btn-success'

  .form-actions
    = f.button :submit, class: 'btn-primary', value: t('helpers.links.save')
    = link_to t('.cancel', default: t('helpers.links.cancel')), backend_products_path, class: 'btn'
