- model_class = FastOrder
.page-header
  %h1= t '.title', default: model_class.model_name.human


%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @fast_order.name
%p
  %strong= model_class.human_attribute_name(:phone) + ':'
  %br
  = @fast_order.phone
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @fast_order.email

%p
  %strong= model_class.human_attribute_name(:created_at) + ':'
  %br
  = l @fast_order.created_at, :full
%p
  %strong= model_class.human_attribute_name(:updated_at) + ':'
  %br
  = l @fast_order.updated_at, :full

%p
  %strong= model_class.human_attribute_name(:product_name) + ':'
  %br
  = @fast_order.product ? link_to(@fast_order.product_name, [:backend, @fast_order.product]) : @fast_order.product_name

.form-actions
  - if can? :index, @fast_order
    = link_to t('.back', default: t("helpers.links.back")), backend_fast_orders_path, class: 'btn'
