- model_class = PageMetaTag

.page-header
  %h1= t '.title', default: model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:path) + ':'
  %br
  = link_to @page_meta_tag.path, page_full_path(@page_meta_tag.path)

- @page_meta_tag.attributes.keys.select{|attr| attr =~/title_(.)/}.each do |elem|
  %p
    %strong= model_class.human_attribute_name(:title) + " (#{elem.split('_').last})"
    %br
    = @page_meta_tag[elem]
- @page_meta_tag.attributes.keys.select{|attr| attr =~/description_(.)/}.each do |elem|
  %p
    %strong= model_class.human_attribute_name(:description) + " (#{elem.split('_').last})"
    %br
    = @page_meta_tag[elem]
- @page_meta_tag.attributes.keys.select{|attr| attr =~/keywords_(.)/}.each do |elem|
  %p
    %strong= model_class.human_attribute_name(:keywords) + " (#{elem.split('_').last})"
    %br
    = @page_meta_tag[elem]

.form-actions
  - if can? :index, @page_meta_tag
    = link_to t('.back', default: t("helpers.links.back")), backend_page_meta_tags_path, class: 'btn'
  - if can? :edit, @page_meta_tag
    = link_to t('.edit', default: t("helpers.links.edit")), edit_backend_page_meta_tag_path(@page_meta_tag), class: 'btn'
  - if can? :destroy, @page_meta_tag
    = link_to t('.destroy', default: t("helpers.links.destroy")), [:backend, @page_meta_tag], method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
