#box
  - @product.images.each_with_index do |img, i|
    = link_to simple_image(img.file.send(i > 0 ? :mini : :normal)), img.file.full.url, rel: 'group', title: img.name, class: 'gallery'

.main_2
  %h4= @product.name
  %p.text
    = @product.description
    %br
    %br
    %span{ style: "color: #444; font-weight: bold;" }= "#{Product.human_attribute_name :structure}:"
    %br
    = simple_format @product.structure

  = link_to "#{t.helpers.labels.all} #{@product.product_group.name}", @product.product_group, class: 'all'

  .price
    = number_to_currency(@product.price, locale: 'ru')

= content_for :head do
  = stylesheet_link_tag 'fancybox'
  = javascript_include_tag 'fancybox_manifest'

:javascript
  $(document).ready(function() {
    $("a.gallery, a.iframe").fancybox()
  })

