=# link_to_unless_current simple_image('application/logobottom.png', nil, class: 'logo'), root_path
= link_to_unless_current simple_image('application/head.gif', nil, class: 'logo'), root_path

-#
  = link_to '/products/2-D-LiteRX4_kit' do
    = image_tag 'application/discount10.jpg', class: 'banner', style: 'position: absolute; right: 11px; top: 16px'

%ul#menu
  %li
    = link_to t.menu.home, root_path

    %ul
      - @menu_lists[:product_groups].each do |i, pg|
        %li
          = link_to pg[:name], pg[:path]
          -#%ul
            - pg[:products].each do |p|
              %li= link_to p.name, p

            - pg[:children].each do |pgc|
              %li
                = link_to pgc[:name], pgc[:path]
              - pgc[:products].each do |p|
                %li
                  = link_to p.name, p

  %li= link_to t.menu.delivery, static_page_path('delivery')
  %li= link_to t.menu.prices, static_page_path('prices')
  %li= link_to t.menu.guarantee, static_page_path('guarantee')
  %li= link_to t.menu.offers, static_page_path('offers')
  %li= link_to t.menu.contacts, static_page_path('contacts')

- if current_page?(root_url)
  = simple_image 'application/main.jpg', nil, class: 'photo_main'
  .topline

