.left
  %p.position= t.sidebar.all_products

  - @menu_lists[:product_groups].each do |i, pg|
    %p{ class: @product_group && @product_group == pg ? 'name_1' : 'name' }= link_to pg[:name], pg[:path]

    %p.product
      - pg[:products].each do |p|
        = link_to p.name, p
        %br

      - pg[:children].each do |pgc|
        = link_to pgc[:name], pgc[:path]
        %br
        - pgc[:products].each do |p|
          = link_to p.name, p
          %br

  %p.about
    Наш магазин предлагает широкий ассортимент профессионального студийного оборудования швейцарской фирмы Elinchrom. Высокое качество и широкий выбор аксессуаров сделали эту марку популярной среди российских фотографов.
    %br
    %br
    Мы специализируемся на прямых поставках оборудования. Большинство товаров представленных в нашем магазине есть в наличии, некоторые позиции мы поставляем под заказ. Мы предлагаем вам профессиональное оборудование Elinchrom по действительно низким ценам. На всё оборудование мы предоставляем гарантию.
    %br
    %br
    Фирма ONTOOLS также занимается оснащением студий "под ключ" Наши сотрудники имеют большой опыт работы и могут предложить вам оптимальную схему исходя из ваших пожеланий и возможностей.
    %br
    %br
    Наша фирма достаточно молода и мы стараемся работать максимально профессионально для того, чтобы наши клиенты всегда оставались довольными и продолжали сотрудничать с нами. Команда ONTOOLS.

  %p.about{ style: "position: absolute; left: -20000px;" }
    = render "layouts/counters"
