.left
  %p.position= t.sidebar.all_products

  - @menu_lists[:product_groups].each do |i, pg|
    %p{ class: @product_group && @product_group == pg ? 'name_1' : 'name' }= link_to pg[:name], pg[:path]

    %p.product
      - pg[:children].each do |pgc|
        = link_to pgc[:name], pgc[:path]
        %br
        - pgc[:products].each do |p|
          = link_to p.name, p
          %br

      - pg[:products].each do |p|
        = link_to p.name, p
        %br

  %p.about
    Люди работающие в нашей фирме имеют многолетний опыт работы в данной индустрии.
    Всё товары в нашем магазине Ekonsale являются подлинным оборудованием известного бренда Elinchrom.
    %br
    %br
    Нам часто задают вопрос почему наши цены ниже средних рыночных. Мы можем ответить на этот вопрос.
    Представленный на сайте товар мы доставляем прямо из Америки, наш склад незначительный по площади.
    %br
    %br
    Оборудование реализуемое нами является абсолютно новым. Компетентную консультацию вы можете
    получить позвонив нам по телефону или через электронную почту. Мы ответим на любой ваш вопрос и поможем
    во всём, что находится в нашей компетенции.
